body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    font-family: sans-serif ;
    height: 100vh;
    
}


.Informacion .informacion{
   
    width: 100%;
    height:510%;
    position: absolute;
}

.Informacion .recepcion
{
    width: 25%;
    height: 20%;
    position: absolute;
    left:-2%;
    top: -40px;
}

.Informacion .recepcion:hover{
    transform: scale(1.1);
}
