*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(250, 253, 253);
    font-family: 'Roboto', sans-serif;
}
.menu{
    background: white;
    border-radius: 50%;
    bottom: 25px;
    box-shadow: 0 0 0 0 white,0 0 0 0 white;
    cursor: pointer;
    height: 45px;
    right: 25px;
    width: 45px;
    top: 5px;
    position:absolute;
    transition: box-shadow 1.1s  cubic-bezier(.19, 1, .22, 1); 
    z-index: 2;
}

menu:hover{
 box-shadow: 0 0 0 8px white,0 0 0 8px white;
}


.menuPrueba{
    position: relative;
    top: 24px;
    left: 8px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;

}

.menuPrueba::after,
.menuPrueba::before{
    background: #000;
    content: '';
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;    
}
.menuPrueba::before{
    top: -10px;
}
.menuPrueba::after{
    bottom: -10px;
}
input{
    display: none;
}

input:checked ~ label .menu{
    box-shadow: 0 0 0 130vw rgb(148, 176, 252), 0 0 0 130vw white;
}

input:checked ~ label .menuPrueba{
    transform: rotate(45deg);
}

input:checked ~ label .menuPrueba::after{
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ label .menuPrueba::before{
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ ul{
    opacity: 1;
}
ul{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 0;
}





li .recepcion
{
  
    position:absolute;
    left:-60%;
    top:-200%;
    width: 70%;
    height: 120%; 
    transition: .5s ease-in-out;
    z-index: 0;
 
}

li .recepcion:hover{    
    transform: scale(1.1);
}

input:checked ~ ul{
    z-index: 2;
}



li .informacion
{
    position:absolute;
    width: 30%;
    height: 150%;
    left:-35%;
    top: -50%;
    transition: .5s ease-in-out;
    z-index: 0;
}

li .informacion:hover{
    transform: scale(1.1);
}

li .acerca
{
    width: 30%;
    height: 130%;
    left:-35%;
    top: 120%;
    z-index: 0;
    position: absolute;
    transition: .5s ease-in-out;
}

li .acerca:hover{
    transform: scale(1.1);
}


li .home
{
    
    position:absolute;
    width: 30%;
    height: 60%;
    left:40%;
    top:-160%;
    transition: .5s ease-in-out;
    z-index: 0;
   
}

li .home:hover{
    transform: scale(1.1);
}




li .salauno
{
    position:absolute;
    width: 27%;
    height: 120%;
    left:40%;
    top: -90%;
    transition: .5s ease-in-out;
    z-index: 0;
   
}


li .salauno:hover{
    transform: scale(1.1);
}

li .salados
{
    position:absolute;
    width: 27%;
    height: 120%;
    left:40%;
    top:37%;
    transition: .5s ease-in-out;
    z-index: 0;
   
}

li .salados:hover{
    transform: scale(1.1);
}



li .salatres
{
    width: 27%;
    height: 120%;
    position:absolute;
    left:40%;
    top: 155%;
    transition: .5s ease-in-out;
    z-index: 0;
   
}
li .salatres:hover{
    transform: scale(1.1);
}


li .mesaJuradosUno{
    position: absolute;
    width: 60%;
    height: 100%;
    left:100%;
    top: -120%;
    transition: .5s ease-in-out;
    z-index: 0;
}    
li .mesaJuradosUno:hover{
    transform: scale(1.1);
}    


li .mesaJuradosDos{
    position: relative;
    width: 60%;
    height: 180%;
    left:100%;
    top:200%;
    transition: .5s ease-in-out;
    z-index: 0;
}    
li .mesaJuradosDos:hover{
    transform: scale(1.1);
}    

li .mesaJuradosTres{
    position: absolute;
    width: 60%;
    height: 100%;
    left:100%;
    top: 120%;
    transition: .5s ease-in-out;
    z-index: 0;
}    
li .mesaJuradosTres:hover{
    transform: scale(1.1);
}    


















li .oficinaRecepcion
{
    position: absolute;
    left:-90%;
    top:-28%;
    width: 80%;
    height: 130%; 
    transition: .5s ease-in-out;
    z-index: 0;
 
}

li .oficinaRecepcion:hover{    
    transform: scale(1.1);
}



li .masInformacion
{
    position:absolute;
    width:37%;
    height: 190%;
    left:-5%;
    top: -28%;
    transition: .5s ease-in-out;
    z-index: 0;
}

li .masInformacion:hover{
    transform: scale(1.1);
}


li .registro
{
    width: 40%;
    height: 180%;
    position: absolute;
    left:40%;
    top: -17%;
    transition: .5s ease-in-out;
}


li .registro:hover{
    transform: scale(1.1);
}



li .ingrsoSalas
{
    width: 60%;
    height: 80%;
    position:relative;
    left:85%;
    top: 500%;
    transition: .5s ease-in-out;
    z-index: 0;
   
}
li .ingrsoSalas:hover{
    transform: scale(1.1);
}

li .acercaDe
{
    width: 22%;
    height: 80%;
    position: absolute;
    transition: .5s ease-in-out;
    left:155%;
    top: 5%;
    z-index: 0;
}

li .acercaDe:hover{
    transform: scale(1.1);
}




